/**{
	border: 1px solid red;
}*/

.nav-bar{
display: inline-flex;
width: 100%;
margin-bottom: 25px;
border-bottom: 1px solid lightblue;
}

.left-header{
	width: 40%;
}

.right-header{
	width: 40%;
	margin-top: 30px;
	margin-left: auto;
	text-align: right;
	margin-right: 20px;
}
.primary-text{
	font-size: 40px;
	margin-left: 20px;
	font-family: 'Roboto',monospace;
	text-transform: uppercase;
	font-weight
}

.nav-list{
	list-style-type: none;
	display: inline-block;
	border: 1px solid lightgray;
	color: #FFFFFF;
	padding: 10px;
	width: auto;
	background-color: #000000;
	text-decoration: none;
}
.nav-list:hover{
	background-color: #FFFFFF;
	color: #000000;
}

.row{
	text-align: center;
}

.vice{
	display: inline-block;
	border: 1px solid black;
	width: 10em;
	padding: 5px;
	margin: 10px;
	background-color: green;
}

.wrd-spread{
letter-spacing: 15px;
color: red;
font-size: 30px;
text-align: center;
}

.generator-box{
width: 90%;
border-bottom: 5px solid black;
text-align: center;
margin-top: 120px;
margin-bottom: 20px;
margin-right: auto;
margin-left: auto;
font-size: 60px;
text-transform: capitalize;
font-family: cursive;
}

.footer-left-div{
width: 50%;
margin-left: 20px;
display: inline-block;
}

.footer-right-div{
width: 45%;
text-align: right;
display: inline-block;
}

ul li a{
	color: #FFFFFF;
	cursor: pointer red;
	text-decoration: none;
}

footer{

	bottom: 0px;
	width: 100%;
	border-top: 1px solid lightblue;
	background-color: lightgray;
	display: inline-block;
	position: fixed;
	bottom: 0;
}

body{
	font-family: 'Roboto', sans-serif;
}

#quote-text{
	font-family: 'Roboto', sans-serif;
	font-weight: 300px;
}
